.powerui-add-table-grid-size {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.powerui-add-table-grid-size input,
.powerui-add-table-grid-size button {
    margin-right: 10px;
}

