.powerui-contextbar-button {
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  height: 30px;
  background-color: var(--powerui-toolbar-button-background-color-hover);
  color: var(--powerui-color);
  border: none;
  border-radius: var(--powerui-button-border-radius);
  cursor: pointer;
  transition: 250ms background-color ease-in-out, 250ms color ease-in-out;

  display: grid;
  grid-auto-flow: column;
  column-gap: 4px;
  background-color: var(--powerui-border-color);
}

img {
  max-width: 100%;
  height: auto;
}

.powerui-editor {
  border: 1px solid var(--powerui-border-color);
  border-radius: var(--powerui-border-radius);
}
