.powerui-dynamicform {
    --powerui-dynamicform-indentwidth: 12px;
}

@media (max-width: 767px) {
    .powerui-dynamicform {
        --powerui-dynamicform-indentwidth: 6px;
    }    
}

.powerui-dynamicform,
.powerui-dynamicform-view,
.powerui-dynamicform-object {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.powerui-dynamicform .basicui-clean-button:hover {
    color: var(--basicui-bg-primary-text);
}
.powerui-dynamicform .basicui-clean-button:hover svg {
    fill: var(--basicui-bg-primary-text);
}

.powerui-dynamicform-arrayfield__main {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.powerui-dynamicform-arrayfield__main__item {
    display: flex;
    flex-direction: row;
    /* column-gap: 4px; */
    align-items: flex-start;
}
.powerui-dynamicform-arrayfield__main__item__field {
flex: 1;
}
.powerui-dynamicform-arrayfield__main__item  .basicui-clean-button {
    height: 32px;
    width: 32px;
}

.powerui-formelement-heading {
    height: auto;
    margin-bottom: 0;
}

.powerui-formfieldview__text {
    font-size: var(--basicui-formelement-font-size);
}

.powerui-formfield__checkboxgroup,
.powerui-formfield__radiogroup {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    justify-items: flex-start;
}

.powerui-objectfield {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    align-items: flex-start;
}

.powerui-objectfield__accordion {
    border: 1px solid var(--basicui-border-color);
    border-radius: var(--basicui-formelement-border-radius);
    width: 100%;
}

.powerui-objectfield-accordionheader {
    display: flex;
    flex-direction: row;
    padding: 0px 12px;
    column-gap: 12px;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    font-size: 12px;
    width: 100%;
    height: 32px;
    background-color: var(--basicui-bg-default-dark);
}

.powerui-light .powerui-objectfield-accordionheader {
    background-color: var(--basicui-bg-default-transparent-muted);
}

.powerui-objectfield-accordionheader__actions {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
}

.powerui-dynamicform-arrayfield__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-left: 1px solid var(--basicui-border-color);
}

.powerui-dynamicform-arrayfield__header__label {
    flex: 1;
}

.powerui-accordion-actionbutton-wrapper {
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: var(--powerui-dynamicform-indentwidth);
    /* border-left: 1px solid var(--basicui-border-color); */
}

.powerui-accordion-actionbutton-wrapper .basicui-clean-button {
    height: 20px;
    width: 20px;
    border-radius: 4px;
    background-color: var(--basicui-bg-default-dark);
}
.powerui-light .powerui-accordion-actionbutton-wrapper .basicui-clean-button {
    background-color: var(--basicui-bg-default-transparent-muted);
}

.powerui-dynamicform .basicui-accordion.accordion-active .basicui-accordion__body {
    border-top: none;
    padding: 0;
}

.powerui-dynamicform .basicui-accordion .basicui-accordion__body__content {
    padding: 0;
    padding-left: var(--powerui-dynamicform-indentwidth);
    /* margin-left: 32px; */
    border-left: 1px solid var(--basicui-border-color);
}

.powerui-dynamicform-arrayfield__header__label {
    /* border-left: 1px solid var(--basicui-border-color); */
    padding-left: 12px;
    padding-left: var(--powerui-dynamicform-indentwidth);
    min-height: 32px;
}

.powerui-dynamicform-arrayfield-addaction {
    border: 1px dotted var(--basicui-border-color);
    height: 32px;
}

.powerui-dynamicform-arrayfield-addaction:hover {
    border-color: var(--basicui-bg-primary-text);
}

.powerui-dynamicform h1,
.powerui-dynamicform h2,
.powerui-dynamicform h3,
.powerui-dynamicform h4,
.powerui-dynamicform h5,
.powerui-dynamicform h6,
.powerui-dynamicform p {
    margin: 0;
}