.basicui-listitem {
  border-bottom: 1px solid var(--basicui-border-color);
  display: flex;
  column-gap: 4px;
  --basicui-checkbox-height: 12px;
  --basicui-checkbox-checkmark-width: 6px;
  --basicui-checkbox-checkmark-height: 12px;
}

.basicui-listitem .basicui-checkbox__input {
  --basicui-checkbox-height: 16px;
  --basicui-checkbox-checkmark-width: 4px;
  --basicui-checkbox-checkmark-height: 8px;
}

.basicui-listitem__expand svg:hover {
  fill: var(--basicui-bg-primary-text);
}

.basicui-listitem__expand svg {
  opacity: 0.6;
}

.basicui-listitem__left,
.basicui-listitem__right {
  padding: var(--basicui-listitem-padding-y) 0;
}

.basicui-listitem__left .basicui-checkbox {
  display: flex;
}

.basicui-listitem__right {
  align-content: flex-end;
}

.basicui-listitem__main {
  flex: 1;
  padding: var(--basicui-listitem-padding-y) var(--basicui-listitem-padding-x);
}

.basicui-listitem__main__content {
  cursor: default;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.basicui-listitem__main__content__title {
  line-height: 1;
}

.basicui-listitem__main__content__summary {
  opacity: 0.80;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.basicui-listitem__main__content__date-and-labels {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
}

.basicui-listitem__main__content__date,
.basicui-listitem__main__content__labels__item {
  opacity: 0.70;
  column-gap: 2px;
  display: flex;
  align-items: center;
}

.basicui-listitem__main__content__labels {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 8px;
}

.basicui-listitem__main__content__labels__item {
  opacity: 0.60;
}

.basicui-list__header,
.basicui-list__footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: var(--basicui-listitem-padding-y) 0;
  min-height: calc(var(--basicui-button-height) + var(--basicui-listitem-padding-y) + var(--basicui-listitem-padding-y) + var(--basicui-button-border-thickness) + var(--basicui-button-border-thickness));
}

.basicui-list__header {
  border-bottom: 1px solid var(--basicui-border-color);
}

.basicui-list__header__right,
.basicui-list__footer__right {
  display: flex;
  column-gap: 12px;
  row-gap: 12px;
}