table {
    width: 100%;
    max-width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

table p {
    margin-bottom: 0;
}

table th {
    vertical-align: bottom;
    text-align: left;
}

table th,
table td {
    padding: 0.75rem;
    line-height: 1.5;
}


/* Bordered */
table,
table th,
table td {
    border: 1px solid var(--theme-white-900);
}

.powerui-dark table,
.powerui-dark table th,
.powerui-dark table td {
    border: 1px solid #707070;
}

table th {
    /* border-bottom: 2px solid var(--theme-white-200); */
    background-color: var(--theme-white-300);
}

.powerui-dark table th {
    background-color: var(--theme-black-100);
}