.powerui-contextbar .powerui-contextbar-content {
    padding: 10px 10px;
    padding: 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    /* overflow-x: auto; */
    background-color: var(--powerui-contextbar-background-color);
    border-radius: 0 0 0 0;
    /* border-top: 1px solid var(--powerui-border-color);
    border-bottom: none; */
    grid-gap: 4px;
}

.powerui-contextbar .powerui-contextbar-content button {
    background-color: var(--powerui-contextbar-background-color);
}

.powerui-contextbar .powerui-contextbar-content button:hover,
.powerui-contextbar .powerui-contextbar-content button:focus {
    background-color: var(--powerui-contextbar-button-background-color-hover);
}

/* .powerui-editor--toolbar-placement-top .powerui-contextbar .powerui-contextbar-content {
    border-radius: 0 0 var(--powerui-border-radius) var(--powerui-border-radius);
} */

.powerui-contextbar .powerui-contextbar-content button svg {
    fill: var(--powerui-color);
    height: 12px;
}


.powerui-contextbar .powerui-contextbar-content input {
    font-size: 12px;
    width: 64px;
    height: 30px;
    padding: 0 10px;
    background-color: var(--powerui-contextbar-background-color);
    color: var(--powerui-color);
    border: 1px solid var(--powerui-border-color-strong);
    border-radius: var(--powerui-button-border-radius);
    outline: none;
}
