.writeup-toolbar {
    display: flex;
    flex-direction: column;
}

.writeup-toolbar-main {
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* overflow-x: auto; */
    background-color: var(--writeup-background-color);
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid var(--writeup-border-color);
    grid-gap: 4px;
}

.writeup-toolbar-main button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    height: 30px;
    background-color: transparent;
    color: var(--writeup-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 250ms background-color ease-in-out, 250ms color ease-in-out;
}

.writeup-toolbar-main button:disabled {
    color: var(--writeup-toolbar-button-color-disabled);
}

.writeup-toolbar-main button:disabled svg {
    fill: var(--writeup-toolbar-button-color-disabled);
}

.writeup-toolbar-main button svg {
    fill: var(--writeup-color);
    /* padding: 3px; */
    height: 12px;
}


.writeup-toolbar-main button.is-active {
    background-color: var(--writeup-toolbar-button-background-color-active);
    color: var(--writeup-toolbar-button-color-active);
}

.writeup-toolbar-main button:hover,
.writeup-toolbar-main button:focus {
    background-color: var(--writeup-toolbar-button-background-color-hover);
    color: var(--writeup-toolbar-button-color-hover);
}



.ProseMirror {
    outline: none;
    padding: 10px 10px;
    background-color: var(--writeup-background-color);
    border-radius: 0 0 4px 4px;
}



.ProseMirror>*+* {
    margin-top: 0.75em;
}

.ProseMirror ul,
.ProseMirror ol {
    padding: 0 1rem;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
    line-height: 1.1;
}

.ProseMirror code {
    background-color: rgba(97, 97, 97, 0.1);
    color: #616161;
}

.ProseMirror pre {
    background: #0d0d0d;
    color: #fff;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
}

.ProseMirror pre code {
    color: inherit;
    padding: 0;
    background: none;
    font-size: 0.8rem;
}

.ProseMirror img {
    max-width: 100%;
    height: auto;
}

.ProseMirror blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(13, 13, 13, 0.1);
}

.ProseMirror hr {
    border: none;
    border-top: 2px solid rgba(13, 13, 13, 0.1);
    margin: 2rem 0;
}


.color-picker {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: 2px;
    border: none;
}

input[type="color"]::-moz-color-swatch {
    border-radius: 2px;
    border: none;
}

.heading-select {
    height: 30px;
    background-color: inherit;
    color: inherit;
    outline: none;
    border: none;
    border-radius: 4px;
}

.heading-select:hover,
.heading-select:focus {
    background-color: var(--writeup-toolbar-button-background-color-hover);
    color: var(--writeup-toolbar-button-color-hover);
}

.heading-select.is-active {
    background-color: var(--writeup-toolbar-button-background-color-active);
    color: var(--writeup-toolbar-button-color-active);
}

ul[data-type="taskList"] li {
    display: flex;
    flex-direction: row;
}

ul[data-type="taskList"] li p {
    margin: 0;
}

ul[data-type="taskList"] li input[type="checkbox"] {
    width: 16px;
    height: 16px;
    border-radius: 0;
}