.writeup-contextbar {
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* overflow-x: auto; */
    background-color: var(--writeup-background-color);
    border-radius: 0 0 0 0;
    border-bottom: 1px solid var(--writeup-border-color);
    grid-gap: 4px;
}

.writeup-contextbar button svg {
    fill: var(--writeup-color);
    /* padding: 3px; */
    height: 12px;
}