.powerui-dark {
    --powerui-background-color: transparent;
    --powerui-color: var(--theme-black-200i);
    --powerui-border-color: var(--basicui-dark-border-color);
    --powerui-border-color-strong: var(--theme-black-extended-50);

    --powerui-contextbar-background-color: var(--theme-black-50);
    --powerui-contextbar-button-background-color-hover: var(--theme-black-extended-600);

    --powerui-toolbar-button-background-color-hover: var(--theme-black-extended-900);
    --powerui-toolbar-button-background-color-active: var(--theme-black-extended-600);
    --powerui-toolbar-button-color-disabled: var(--theme-black-50);

    --powerui-toolbar-button-color-hover: var(--theme-black-400i);
    --powerui-toolbar-button-color-active: var(--theme-black-500i);
}