.powerui-light {
    --powerui-background-color: transparent;
    --powerui-color: var(--theme-white-100i);
    --powerui-border-color: var(--basicui-light-border-color);
    --powerui-border-color-strong: var(--theme-white-900);

    --powerui-contextbar-background-color: var(--theme-white-300);
    --powerui-contextbar-button-background-color-hover: var(--theme-white-600);

    --powerui-toolbar-button-background-color-hover: var(--theme-white-400);
    --powerui-toolbar-button-background-color-active: var(--theme-white-500);
    --powerui-toolbar-button-color-disabled: var(--theme-white-800);

    --powerui-toolbar-button-color-hover: var(--theme-white-400i);
    --powerui-toolbar-button-color-active: var(--theme-white-600i);
}