@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import '../node_modules/basicui/styles/index.css';

@import '../src/style.css';

html body * {
    font-family: 'Roboto', sans-serif;
}

.powerui-light {
    background-color: #f8f9fa;
}

.powerui-dark {
    background-color: #2b2b2b;
}