@import './theme-adaptive.css';
@import './theme-black.css';
@import './theme-white.css';
@import './theme-black-extended.css';
@import './theme-white-extended.css';
@import './theme-primary.css';

.basicui-light {
    color: var(--theme-black-900);
}

.basicui-dark {
    color: var(--theme-white-50);
}